@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nice Neighbour Pharmacy</h1>
    <p class="lead">Nice Neighbour Pharmacy is a web-based application, which provides online medicine ordering services.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Click button below to register an account. And then, view all medicines we provide
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Click button below to login.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
    <div class="col-md-4">
        <h2>View Medicines</h2>
        <p>You can view all medicines.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    }
</div>