<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link href="./style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"></script>
    <script>
      // Defining angularjs module

    </script>

  </head>

  <body>
    <div ng-app="demoModule" id="body" class="container">
        <div ng-controller="demoCtrl">
          <h2>FIT5032 Simple AngularJS Demo</h2>
          <div ng-if="noResult" class="alert alert-info" role="alert">
            Failed to retrieve information from the API. Please change the API URL.
          </div>
          <div ng-if="!noResult">
            <h3>List of Units</h3>
            <table ng-cloak class="table">
              <thead>
                <tr>
                  <th style="display: none;">ID</th>
                  <th>Unit Code</th>
                  <th>Unit Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="items in unitData">
                  <td hidden="hidden">{{items.Id}}</td>
                  <td>{{items.UnitCode}}</td>
                  <td>{{items.UnitName}}</td>
                  <td>
                    <button class="btn btn-primary"
                            ng-model="$scope.Unit"
                            ng-click="edit($index, unitData[$index])">
                      Edit
                    </button>
                    <button class="btn btn-danger"
                            ng-click="delete($index)">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
              </tfoot>
            </table>
            <div ng-if="deleteResult" class="alert alert-success" role="alert">
              Unit has been deleted.
            </div>
      
            <button class="btn btn-primary" data-ng-click="addButton()">Add a unit</button>  
            <br >
            <div ng-if="showAdd">
              <div>
                <br >
                <h2>Add A Unit</h2>
              </div>
              <div class="form-group">
                <label for="name">Unit Code</label>
                <input class="form-control" type="text" data-ng-model="Unit.UnitCode" />
              </div>
      
              <div class="form-group">
                <label for="category">Unit Name</label>
                <input class="form-control" type="text" data-ng-model="Unit.UnitName" />
              </div>
              
              <div ng-if="addResult" class="alert alert-success" role="alert">
                Add Successful.
              </div>
      
              <div>
                <button class="btn btn-primary" data-ng-click="save()">Save</button>
                <button class="btn btn-default" data-ng-click="back()">Back</button>
              </div>
            </div>
            <br >
      
            <div ng-show="showEdit">
              <div ng-if="updateResult" class="alert alert-success" role="alert">
                Update Successful.
              </div>
              <div>
                <h2>Update Unit</h2>
              </div>
              <div hidden="hidden">
                <label for="id">Id</label>
                <input type="text" data-ng-model="Unit.Id" />
              </div>
              <div class="form-group">
                <label for="name">Unit Code</label>
                <input class="form-control" type="text" data-ng-model="Unit.UnitCode" />
              </div>
      
              <div class="form-group">
                <label for="category">Unit Name</label>
                <input class="form-control" type="text" data-ng-model="Unit.UnitName" />
              </div>
      
              <br />
              <div>
                <button class="btn btn-primary" data-ng-click="update()">Update</button>
                <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
var app = angular.module('demoModule', []);

// You will need to use your newly created Web API here
var apiURL = "https://localhost:7043/api/";

app.controller('demoCtrl', function ($scope, $http, UnitService) {

  $scope.showAdd = false;
  $scope.showEdit = false;
  $scope.unitData = "";
  $scope.noResult = false;

  UnitService.GetAllRecords().then(function (d) {
    $scope.unitData = d.data; // Success
    $scope.Unit = {
      Id : $scope.unitData[0].id,
      UnitName : $scope.unitData[0].UnitName,
      UnitCode : $scope.unitData[0].UnitCode
    };
    $scope.addResult = true;
    console.log($scope.unitData[0]);
  }, function () {
    $scope.noResult = true;
  });

  


  // Clear
  $scope.back = function () {
    $scope.showEdit = false;
    $scope.showAdd = false;
  };

  $scope.addButton = function () {
    $scope.showAdd = true;
    $scope.showEdit = false;
  };

  //Add New Unit
  $scope.save = function () {
    if ($scope.Unit.UnitCode != "" && $scope.Unit.UnitName != "") {
      $scope.Unit.Id = 0;
      $http({
        method: 'POST',
        url: apiURL + "units",
        data: JSON.stringify($scope.Unit),
        headers: {"Content-Type": "application/json"}
      }).then(function successCallback(response) {
        $scope.unitData.push(response.data);
        $scope.addResult = true;
        $scope.clear();
        alert("Unit Added Successfully");
      }, function errorCallback(response) {
        $scope.noResult = true;
      });
    }
    else {
      alert('Please enter both the unit code and unit name.');
    }
  };

  $scope.edit = function (index, data) {

    $scope.updateIndex = index;
    $scope.showAdd = false;
    $scope.showEdit = true;
    $scope.Unit = { Id: data.Id, UnitCode: data.UnitCode, UnitName : data.UnitName};
  };

  // Cancel unit details
  $scope.cancel = function () {
    $scope.showEdit = false;
  };

  // Update product details
  $scope.update = function () {
    if ($scope.Unit.UnitTitle != "" && $scope.Unit.UnitName != "") {

      $http({
        method: 'PUT',
        url: apiURL + "units/"+ $scope.Unit.Id,
        data: $scope.Unit
      }).then(function successCallback(response) {
        var id = $scope.Unit.Id;
        //console.log(id);
        //$scope.unitData.splice($scope.updateIndex, 1);
        var unit = $scope.Unit;
        $scope.unitData[$scope.updateIndex] = unit;
        $scope.updateResult = true;
        //$scope.clear();
      }, function errorCallback(response) {
        alert("Error : " + response.data.ExceptionMessage);
      });
    }
    else {
      alert('Please enter the required values.');
    }
  };

  // Delete unit
  $scope.delete = function (index) {
    $http({
      method: 'DELETE',
      url: apiURL + "units/" + $scope.unitData[index].Id

    }).then(function successCallback(response) {
      $scope.deleteResult = true;
    }, function errorCallback(response) {
      alert("Error : " + response.data.ExceptionMessage);
    });
  };

});

app.factory('UnitService', function ($http) {
  var fac = {};
  fac.GetAllRecords = function () {
    // alert(($http.get("https://localhost:7043/api/units")));
    return $http.get("https://localhost:7043/api/units");
  };
  return fac;
});

      </script>
    </body>
  
  </html>